node_modules
List-of-user-agents-master/Android+Webkit+Browser.txt
List-of-user-agents-master/Chrome.txt
List-of-user-agents-master/Edge.txt
List-of-user-agents-master/Firefox.txt
List-of-user-agents-master/Internet+Explorer.txt
List-of-user-agents-master/LICENSE
List-of-user-agents-master/Opera.txt
List-of-user-agents-master/Safari.txt
List-of-user-agents-master/user-agent.py
